<div class="grid grid-cols-3 divide-x divide-gray-900/5 bg-gray-50">
  <a href="#" (click)="startCountdown(25); handleClick(event)"
     class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-4 text-gray-900">
    <svg class="h-4 w-4 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    Focus 25 min
  </a>
  <a href="#" (click)="startCountdown(40); handleClick(event)"
     class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-4 text-gray-900">
    <svg class="h-4 w-4 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    Focus 40 min
  </a>
  <a href="#" (click)="startCountdown(60); handleClick(event)"
     class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-4 text-gray-900">
    <svg class="h-4 w-4 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    Focus 60 min
  </a>
</div>
